.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

#project{
    background-color: #e2edff;
}

section{
    padding-top: 6rem;
}

.card img{
    height: 300px;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: #252525;
}